@keyframes border-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-border-left {
  animation: border-scroll-left 58s linear infinite;
}

/* 🔥 VERTICAL FLIP (M → W) */
.border-flip-vertical {
  transform: scaleY(-1);
  transform-origin: center;
}
