@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans;
  }
}
@keyframes scrollSlow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-slow {
  animation: scrollSlow 90s linear infinite;
}


@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll-left 12s linear infinite;
}

