@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 font-sans;
  }
}
@keyframes scrollSlow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll-slow {
  animation: scrollSlow 90s linear infinite;
}





@keyframes scroll-left-slow {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right-slow {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-scroll {
  animation: scroll-left-slow 25s linear infinite;
}

.animate-reverse {
  animation: scroll-right-slow 25s linear infinite;
}

